label img {
  width: 15px;
  vertical-align: middle;
}

h2 {
  color: white;
}

a {
  text-decoration: none;
}

nav {
  width: 100%;
  margin: auto;
}
  
ul {
  display: flex;
  list-style: none;
}

input, label {
  width: 100%;
}
  
.container {
  width: 80%;
  margin: auto;
}

.taskbar {
  display: flex;
  width: 100%;
  justify-content: right;
  background-color: rgb(75, 1, 209);
}

.taskbar i {
  padding: 5px 3px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  background-color: rgb(98, 2, 238);
}

.navbar h2 {
  margin: 10px auto 10px 15px;
}

.navbar i {
  margin: auto 20px;
}

.form {

}

.state {
  max-width: 100px;
}

.label {
  margin-right: 10px;
}

#city, #state {
  margin-left: 29px;
}