.container {
  display: grid;
  box-sizing: border-box;
  width: 80%;
  margin: auto;
}

.taskbar {
  display: flex;
  width: 100%;
  justify-content: right;
  background-color: rgb(75, 1, 209);
}

.taskbar i {
  padding: 5px 3px;
}

.navbar {
  width: 100%;
  display: flex;
  align-items: center;
  vertical-align: middle;
  background-color: rgb(98, 2, 238);
}

.navbar h2 {
  margin: 10px auto 10px 0;
}

.navbar i {
  margin: auto 20px;
}

.form {
  max-width: 100%;
  display: grid;
  padding: 10px 5px;
}

.input {
  max-width: 100%;
}

.alt {
  background-color: #e8e8e8;
}

.name {
  max-width: 100%;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.phone {
  display: grid;
  grid-template-columns: 30px 1fr 1fr;
  grid-template-rows: 1fr 0;
}

.phn-label {
  margin-left: 27%;
}

.label {
  align-items: center;
}

.location, .email, .bday {
  max-width: 100%;
  display: grid;
  grid-template-columns: 30px 1fr;
}

.state {
  max-width: 100%;
}

.state-zip {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.select-input {
  max-width: 100%;
}